In [ ]:
#Q1     
    In Python, we can add comments to our code to provide explanations or make notes for ourself and others who read our code. There are two common ways to add comments in Python:

1. Single-line comments: To add a comment that spans a single line, we can use the hash character (#). Anything following the # on the same line will be considered a comment and will not be executed by the Python interpreter.

For Eg :
# This is a single-line comment
2. Multi-line comments: For comments that span multiple lines, we can use triple quotes (""" or '''). 
For Eg:

"""
This is a multi-line comment.
It can span multiple lines and is often used as a docstring.
"""
It's important to note that multi-line comments are not technically comments in the same sense as single-line comments. Instead, they are treated as string literals and are stored in memory.

In [ ]:
# Q2
In Python, variables are used to store data values. They act as named containers that hold values of different types, such as numbers, strings, lists, or more complex objects.

To declare a variable in Python, we simply need to choose a name for the variable and use the assignment operator (=) to assign a value to it. Here's an example:

a=40
c,d,e=3,4,5

In [3]:
#Q3
In Python, you can convert one data type to another using type conversion functions or by using the built-in constructors of the target data type. Here are some common ways to perform data type conversion:
    
    a=int(3.14) # a will be 3
    b=bool(45.6) # b will be 45.6
    c=str(56)# c will be "56"

In [ ]:
# Q4
Create a new notebook or open an existing one.

Click on the "+" button or use the "Insert" menu to add a new code cell.

In the code cell, write our Python code. For example, we can write the same "Hello, World!" program:

print("Hello, World!")
To execute the code cell, we can press Shift + Enter or click the "Run" button in the toolbar.

Jupyter Notebook will execute the code cell and display the output below the cell:

    Hello, World!

    
we can continue to add more code cells and execute them as needed. Code cells can be executed in any order, and variables and functions defined in one cell can be used in subsequent cells.

In [5]:
# Q5

In [6]:
my_list=[1,2,3,4,5]

In [7]:
my_list[1:3]

[2, 3]

In [ ]:
# Q6

In mathematics, a complex number is a number that comprises both a real part and an imaginary part. It is represented in the form a + bi, where a is the real part, b is the imaginary part, and i is the imaginary unit defined as the square root of -1.

In Python, complex numbers are supported as a built-in data type. To represent a complex number in Python, you can use the complex() function or directly specify the real and imaginary parts using the a + bj notation, where j represents the imaginary unit.

In [ ]:
#Q7
To declare a variable named age and assign the value 25 to it in Python, we can use the  syntax:
    age = 25

In [8]:
#Q8 it is the floating point number data type.

In [9]:
price=9.99

In [10]:
type(price)

float

In [ ]:
#Q9
To create a variable named name and assign my full name to it as a string, i will use the following code:

name = "Your Full Name"
Replace "Your Full Name" with actual full name.

To print the value of the name variable in Python, we can use the print() function. Here's an example:

In [11]:
name="Ritik"

In [13]:
print(name)

Ritik

In [14]:
 # Q10

In [15]:
a="Hello, World "

In [16]:
a

'Hello, World '

In [33]:
a[6:12]

' World'

In [34]:
# Q11

In [35]:
is_student=True

In [36]:
type(is_student)

bool