In [3]:
a=10
if a>10:
    print("yes a greater than 10")

In [4]:
a>10

False

In [5]:
a=10
if a>=10:
    print("yes a is greater  then 10")

yes a is greater  then 10

In [6]:
a>=10

True

In [13]:
b=20
if b>30:
    print("yes b is greater then 30")
elif b<40:
        print ( "yes b is lesser then 40")
else :
        print("this is my default")

yes b is lesser then 40

In [10]:
b>30

False

In [15]:
b=20
if b>30:
    print("yes b is greater then 30")
elif b>40:
        print ( "yes b is lesser then 40")
else :
        print("this is my default")

this is my default

In [17]:
b=20
if b>30:
    print("yes b is greater then 30")
elif b<40:
        print ( "yes b is lesser then 40")
elif b>100:
        print("yes b  is greater than 100")
else :
        print("this is my default")

yes b is lesser then 40

In [18]:
input()

 324

'324'

In [20]:
b =int(input())

 45

In [21]:
b

45

In [22]:
type(b)

int

In [28]:
b= int(input())
if b>30:
    print("yes b is greater then 30")
elif b>40:
        print ( "yes b is lesser then 40")
elif b>100:
        print("yes b  is greater than 100")
else :
        print("this is my default")

 2

this is my default

In [29]:
n=4
i=1
while i<n:
    print(i)
    i=i+1

1
2
3

In [30]:
n=4
i=1
while i<n:
    print(i)
    i=i+1
else:
        print("this  is my else")

1
2
3
this  is my else

In [31]:
n=4
i=1
while i<n:
    print(i)
    i=i+1
    if i ==3:
        break
else:
        print("this  is my else")

1
2

In [32]:
s="ritik"
for i in s :
    print(i)

r
i
t
i
k

In [33]:
l=[2,3,4,5,6,"ritik", "pwskkills", 23.45, True]

In [34]:
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [35]:
for i in l:
    print(type(i))
else:
        print("this will be executed once for loop will complete tself successfully")

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>
this will be executed once for loop will complete tself successfully

In [36]:
for i in l:
    print(type(i))
    if i==6:
        break
else:
        print("this will be executed once for loop will complete tself successfully")

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [37]:
for i in l:
    print(type(i))
    if i==6:
        continue
else:
        print("this will be executed once for loop will complete tself successfully")

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>
this will be executed once for loop will complete tself successfully

In [39]:
for i in l:
    print(type(i))
    if i==6:
        continue
    print(i)
else:
        print("this will be executed once for loop will complete tself successfully")

<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
<class 'str'>
ritik
<class 'str'>
pwskkills
<class 'float'>
23.45
<class 'bool'>
True
this will be executed once for loop will complete tself successfully

In [40]:
range(10)

range(0, 10)

In [41]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]